@import '../../styles';
.icon {
    padding: 5px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    .card-icon {
        font-size: 40px;
        color: $black-color;
        
        // width: 20%;
    }


 }

 

.left {
        .trend {
            background-color: $white-color;
            gap: .02rem;
        
             .icon-2.decreased .icon-trend {
                color: red;
             }
             .icon-2.increased .icon-trend {
                color: green;
             }
        }

        .desc p {
            color: $gray-color;
        }

        .desc .increased span {
            color: green;
        }

        .desc .decreased span {
            color: red;
        }
        .amount {
            margin-bottom: 15px;
        }
  
}
