/* VARIABLES */
$bg-1-color: #fff;
$main-color: #381B5D;
$bg-2-color:#FBF9F9;
$green-color: #1ED709;
$border-color: #0000;
$orange-color: #D75B09;
$red-color: #D70909;
$secondary-color: #5E0ACC;
$black-color: #1c1c1c;

$sm-opacity: 0.3;
$md-opacity: 0.5;
$lg-opacity: 1;

$sm-font-size: 16px;
$md-font-size: 20px;
$lg-font-size: 25px;

$light-fw: light;
$regular-fw: 100;
$bold-fw: 700;
$semi-bold-fw: 500;

$border-rd-3: 3px;
$border-rd-6: 6px;
$border-rd-10: 10px;
$border-rd-20: 20px;